<div class="card card-cascade narrower">

    <!-- Card image -->
    <div class="view gradient-card-header aqua-gradient">

        <div class="full-bg-img">
            <div class="mask backMaskColor flex-center">

                <div class="container text-center textCard wow fadeInUp py-5">
                    <h2 class="font-weight-bold text-white">NUEVA APP PARA EVALUACIONES</h2>

                    <img src="http://www.uttab.edu.mx/img/conocenos/campus/campus1-min.png" class="img-responsive w-100 m-auto d-block">

                    <div class="card">
                        <div class="card-body">


                            <h5>¡Realiza tus examenes en linea!</h5>
                            <p>Ahora podras realizar tus examenes desde la app, ver tu calificaciones, consultar tus errores, aciertos y más!</p>
                            <a href="../../../assets/apk/uttab-evaluaciones.apk" download="uttab-evaluaciones" class="btn btn-primary animated infinite pulse"><i class="fas fa-cloud-download-alt mr-2"></i>Descargar App</a>

                        </div>
                    </div>


                    <div class="mt-4">
                        <div class="row">
                            <div class="col-6">
                                <img src="../../../assets/img/androdi.png" class="img-responsive disponibleImg pb-3 m-auto d-block">

                            </div>
                            <div class="col-6">
                                <img src="../../../assets/img/ios.png" class="img-responsive disponibleImg m-auto d-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card content -->




</div>
<!-- Card -->




<!--Main Navigation-->